<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/dice.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Como comprar</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <div class="en-linea">
            <img id="logo" src="../static/img/d20_dice_big.png" alt="">
        </div>  
        <nav class="en-linea">
            <a class="hiperv"  href="../index.html">Inicio</a>
            <a class="hiperv" href="miniaturas.html">Miniaturas</a>
            <a class="hiperv" href="dados.html">Dados</a>
            <a class="hiperv" href="como_comprar.html">Como comprar</a>
            <a class="hiperv" href="contacto.html">Contacto</a>
        </nav>
    </header>  

    <!-- Contenido principal -->
    <main>
        <h1> Como comprar </h1>

        <ul>
            <li>1. Completá tus datos de contacto.</li>
            <li>2. Elegí si querés recibir tu producto o retirar por nuestro local.</li>
            <li>3. Seleccioná el método de envío que desees.</li>
            <li>4. Los envíos los realizamos a través de Oca, a domicilio.</li>
            <li>5. En la sección de “Comentarios adicionales” nos podés dejar cualquier observación de tu compra 
                (por ejemplo, si querés unificar el envío con otra compra o si podés recibir la moto en alguna franja horaria específica).</li>
            <li>6. Después de confirmar la compra vas a recibir un correo de nuestra parte.</li>
            <li>7. Una vez acreditado el pago, vamos a hacer el envío correspondiente de los productos que hayas comprado.</li>
        </ul>
    </main>

    <!-- Pie de página  -->
    <footer>
        
    </footer>
</body>
</html>