<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/dice.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Formulario de Contacto</title>
</head>
<body>

    <!-- Va el contenido de la página -->

    <!-- Ctrl+k+c para comentar -->
    <!-- Ctrl+k+u para descomentar -->
    <!-- Encabezado -->
    <h1>Formulario de Contacto</h1>
    <header>
        <div class="en-linea">
            <img id="logo" src="../static/img/d20_dice_big.png" alt="">
        </div>  
        <nav class="en-linea">
            <a class="hiperv" href="dados.html">Dados</a>
            <a class="hiperv" href="miniaturas.html">Miniaturas</a>
            <a class="hiperv" href="como_comprar.html">Como comprar</a>
            <a class="hiperv" href="../index.html">Inicio</a>
            <a class="hiperv" href="contacto.html">contacto</a>
        </nav>
    </header>  

    <!-- Contenido principal -->
    <main>
        <section>
            <h1> Contacto </h1>

            <form id="contactForm" action="">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" required>
                </div>

                <br>
                <div>
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" id="apellido" required>
                </div>

                <br>

                <div>
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                
                <br>

                <div>
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" name="telefono" id="telefono" min="0" required>
                </div>

                <br>
                <br>

                <div class="radio-group">
                    <h2>Seleccione</h2>
                    
                    <label for="genero">Género:</label>
            <input type="radio" id="male" name="gender" value="male" required>
            <label for="male">Masculino</label>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Femenino</label>
            <input type="radio" id="otro" name="gender" value="otro">
            <label for="otro">Otro</label>

                    
                </div>
                <div>
                    <label for="preference">Preferencia de Contacto:</label>
                    <select id="preference" name="preference" required>
                        <option value="">Seleccione una opción</option>
                        <option value="email">Correo Electrónico</option>
                        <option value="phone">Teléfono</option>
                    </select>
                </div>
                <div>
                    <label for="mensaje">Mensaje (opcional):</label>
                    <textarea name="mensaje" id="mensaje" maxlength="300"></textarea>
                </div>
                <div>
                    <input type="checkbox" id="terms" name="terms" required>
                    <label for="terms">Acepto los términos y condiciones</label>
                </div>
                <div>
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar">
                </div>

            </form>
        </section>
    </main>

    <!-- Pie de página  -->
    <footer>
        <h3> Espacio para el footer </h3>
    </footer>
</body>
</html>