<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/dice.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Formulario de Contacto </title>
</head>

<body>

    <!-- Va el contenido de la página -->

    <!-- Ctrl+k+c para comentar -->
    <!-- Ctrl+k+u para descomentar -->
    <!-- Encabezado -->
    <h1>Formulario de Contacto</h1>
    <header>
        <div class="en-linea">
            <img id="logo" src="../static/img/d20_dice_big.png" alt="">
        </div>
        <nav class="en-linea">
            <a class="hiperv" href="../index.html">Inicio</a>
            <a class="hiperv" href="dados.html">Dados</a>
            <a class="hiperv" href="miniaturas.html">Miniaturas</a>
            <a class="hiperv" href="como_comprar.html">Como comprar</a>
            <a class="hiperv" href="contacto.html">Contacto</a>
        </nav>
    </header>

    <!-- Contenido principal -->
    <main>
        <section>
            <h1> Contacto </h1>
            <!--<form action="https://formspree.io/f/xnqeonwe"  method="POST">-->

            <form id="formulario" onsubmit="return validarDatos()">
                <!-- <form id="contactForm"> -->
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" pattern="[a-zA-Z\s]+"
                        title="El nombre solo debe contener letras y espacios.">

                </div>

                <br>
                <div>
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" id="apellido">
                </div>

                <br>

                <div>
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" required>
                </div>

                <br>

                <div>
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" name="telefono" id="telefono" required>

                </div>

                <br>
                <br>

                <div class="radio-group">
                    <h2 class="inpulabel1">Seleccione</h2>

                    <div class="inpulabel2"><label>preferencia de Contacto:</label></div>
                    <div class="inpulabel"> <label for="tel">Telefono</label></div>
                    <div class="inputradio"> <input type="radio" id="tel" name="preferencia" value="tel" required></div>
                    <div class="inpulabel"> <label for="mail">E-mail</label></div>
                    <div class="inputradio"> <input type="radio" id="mail" name="preferencia" value="mail"></div>
                    <div class="inpulabel"> <label for="ninguno">Ninguno</label></div>
                    <div class="inputradio"> <input type="radio" id="ninguno" name="preferencia" value="ninguno"></div>
                </div>

                <br>
                <div>
                    <label for="genero">Seleccione Genero</label>
                    <select name="genero" id="genero">

                        <option value="femenino">Femenino</option>
                        <option value="masculino">Masculino</option>
                        <option value="otro">Otro</option>
                    </select>
                </div>
                <br>

                <div>
                    <label for="mensaje">Mensaje (opcional):</label>
                    <textarea name="mensaje" id="mensaje" maxlength="300"></textarea>
                </div>
                <br>
                <div id="tym">
                    <label for="terms">Acepto los términos y condiciones</label>
                    <input type="checkbox" id="terms" name="terms" required>

                </div>
                <br>
                <div id="campos"></div>
                <div>
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar">
                </div>

            </form>
        </section>
    </main>

    <!-- Pie de página  -->
    <footer>
        <p>&copy; 2024 Juegos de Mesa y Miniaturas. Todos los derechos reservados.</p>
    </footer>
    <script src="../static/js/index.js"></script>
</body>

</html>