<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>

    <!-- Va el contenido de la página -->

    <!-- Ctrl+k+c para comentar -->
    <!-- Ctrl+k+u para descomentar -->
    <!-- Encabezado -->
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="miniaturas.html">Miniaturas</a>
            <a href="dados.html">Dados</a>
            <a href="como_comprar.html">Como comprar</a>
            <a href="contacto.html">contacto</a>
        </nav>
    </header>  

    <!-- Contenido principal -->
    <main>
        <h2> Tabla </h2>
    </main>

    <!-- Pie de página  -->
    <footer>
        <h3> Espacio para el footer </h3>
    </footer>
</body>
</html>