<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/dice.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">

    <title>Dados</title>
</head>

<body>
    <!-- Encabezado -->
    <header>
        <div class="en-linea">
            <img id="logo" src="../static/img/d20_dice_big.png" alt="">
        </div>
        <nav class="en-linea">
            <a class="hiperv" href="../index.html">Inicio</a>
            <a class="hiperv" href="miniaturas.html">Miniaturas</a>
            <a class="hiperv" href="dados.html">Dados</a>
            <a class="hiperv" href="como_comprar.html">Como comprar</a>
            <a class="hiperv" href="contacto.html">Contacto</a>
        </nav>
    </header>

    <!-- Contenido principal -->
    <main clas="contenido">
        <section id="introduction">
            <h1>Dados</h1>

            <h2>Introducción</h2>
            <p>Los dados son una herramienta esencial en muchos juegos de mesa. Desde los clásicos juegos de rol hasta
                los modernos juegos de estrategia, los dados añaden un elemento de aleatoriedad y emoción.</p>
        </section>
        <section id="types-of-dice">
            <h2>Tipos de Dados</h2>
            <p>Existen diferentes tipos de dados que se utilizan en una variedad de juegos. A continuación, se describen
                algunos de los más comunes:</p>
            <ul>
                <li><strong>D6:</strong> El dado clásico de seis caras, comúnmente utilizado en juegos como Monopoly.
                </li>
                <li><strong>D20:</strong> Un dado de veinte caras, muy popular en juegos de rol como Dungeons & Dragons.
                </li>
                <li><strong>D10:</strong> Utilizado en juegos de mesa y de rol para generar números del 1 al 10.</li>
                <li><strong>D12:</strong> Un dado de doce caras, menos común pero utilizado en ciertos juegos
                    específicos.</li>
            </ul>
        </section>

        <section id="uses-of-dice">
            <h2>Usos de los Dados en Juegos de Mesa</h2>
            <p>Los dados pueden tener diferentes funciones en los juegos de mesa:</p>
            <ul>
                <li><strong>Movimiento:</strong> Determinar cuántos espacios se mueve un jugador en el tablero.</li>
                <li><strong>Combate:</strong> Resolver batallas o enfrentamientos en juegos de estrategia.</li>
                <li><strong>Decisiones Aleatorias:</strong> Generar eventos aleatorios o resultados en juegos de rol.
                </li>
            </ul>
        </section>

        <section id="gallery">
            <h2>Galería de Imágenes</h2>
            <div class="gallery">
                <img src="../static/img/d6.jpg" alt="Dado de seis caras">
                <img src="../static/img/d10.jpg" alt="Dado de diez caras">
                <img src="../static/img/d12.jpg" alt="Dado de doce caras">
                <img src="../static/img/d20.jpg" alt="Dado de veinte caras">
            </div>
        </section>

        <section id="conclusion">
            <h2>Conclusión</h2>
            <p>Los dados son una parte fundamental de muchos juegos de mesa y ofrecen infinitas posibilidades de
                diversión. Explora nuestra colección de dados y encuentra el complemento perfecto para tu próximo juego.
            </p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Juegos de Mesa y Miniaturas. Todos los derechos reservados.</p>
    </footer>
    <script src="../static/js/index.js"></script>
</body>

</html>
