<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="miniaturas.html">Miniaturas</a>
            <a href="dados.html">Dados</a>
            <a href="como_comprar.html">Como comprar</a>
            <a href="contacto.html">contacto</a>
        </nav>
    </header>  

    <!-- Contenido principal -->
    <main>
        <h1> hola hola aqui va la galería de dados</h1>
    </main>

    <!-- Pie de página  -->
    <footer>
        
    </footer>
</body>
</html>