<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/dice.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Miniaturas</title>
</head>
<body>

    <!-- Encabezado -->
    <header>
        <div class="en-linea">
            <img id="logo" src="../static/img/d20_dice_big.png" alt="">
        </div>  
        <nav class="en-linea">
            <a class="hiperv" href="../index.html">Inicio</a>
            <a class="hiperv" href="miniaturas.html">Miniaturas</a>
            <a class="hiperv" href="dados.html">Dados</a>
            <a class="hiperv" href="como_comprar.html">Como comprar</a>
            <a class="hiperv" href="contacto.html">Contacto</a>
        </nav>
    </header>  

    <!-- Contenido principal -->
    <main>
        <h1> Miniaturas </h1>

        <section id="gallery">

            <div class="gallery">
                <img src="../static/img/minis/air-elemental.jpg" alt="air-elemental">
                <img src="../static/img/minis/arachne-centaur.jpg" alt="arachne-centaur">
                <img src="../static/img/minis/barmaid.jpg" alt="barmaid">
                <img src="../static/img/minis/bone-devil.jpg" alt="bone-devil">
                <img src="../static/img/minis/bone-naga.jpg" alt="bone-naga">
                <img src="../static/img/minis/bugbear.jpg" alt="bugbear">
                <img src="../static/img/minis/chimera.jpg" alt="chimera">
                <img src="../static/img/minis/clay-golem.jpg" alt="clay-golem">
                <img src="../static/img/minis/cultist.jpg" alt="cultist">
                <img src="../static/img/minis/dire-rats.jpg" alt="dire-rats">
                <img src="../static/img/minis/dire-wolf.jpg" alt="dire-wolf">
                <img src="../static/img/minis/displacer-panther.jpg" alt="displacer-panther">
                <img src="../static/img/minis/dragonborn-male-fighter.jpg" alt="dragonborn-male-fighter">
                <img src="../static/img/minis/dwarf-male-barbarian.jpg" alt="dwarf-male-barbarian">
                <img src="../static/img/minis/dwarf-male-cleric.jpg" alt="dwarf-male-cleric">
                <img src="../static/img/minis/earth-elemental.jpg" alt="earth-elemental">
                <img src="../static/img/minis/elf-female-bard.jpg" alt="elf-female-bard">
                <img src="../static/img/minis/elf-male-fighter.jpg" alt="elf-male-fighter">
                <img src="../static/img/minis/evil-eye.jpg" alt="evil-eye">
                <img src="../static/img/minis/fire-elemental.jpg" alt="fire-elemental">
                <img src="../static/img/minis/fishfolk.jpg" alt="fishfolk">
                <img src="../static/img/minis/ghast.jpg" alt="ghast">
                <img src="../static/img/minis/ghost.jpg" alt="ghost">
                <img src="../static/img/minis/ghul.jpg" alt="ghul">
                <img src="../static/img/minis/gnoll-hunter.jpg" alt="gnoll-hunter">
                <img src="../static/img/minis/gnoll-warrior.jpg" alt="gnoll-warrior">
                <img src="../static/img/minis/goat-monster.jpg" alt="goat-monster">
                <img src="../static/img/minis/goblin-hunter.jpg" alt="goblin-hunter">
                <img src="../static/img/minis/goblin-warrior.jpg" alt="goblin-warrior">
                <img src="../static/img/minis/golatiah-male-fighter.jpg" alt="golatiah-male-fighter">
                <img src="../static/img/minis/harpy.jpg" alt="harpy">
                <img src="../static/img/minis/horned-demon.jpg" alt="horned-demon">
                <img src="../static/img/minis/human-female-rogue (1).jpg" alt="human-female-rogue">
                <img src="../static/img/minis/human-female-rogue.jpg" alt="human-female-rogue">
                <img src="../static/img/minis/human-female-warlock.jpg" alt="human-female-warlock">
                <img src="../static/img/minis/human-female-wizard.jpg" alt="human-female-wizard">
                <img src="../static/img/minis/human-male-barbarian.jpg" alt="human-male-barbarian">
                <img src="../static/img/minis/human-male-cleric.jpg" alt="human-male-cleric">
                <img src="../static/img/minis/human-male-druid.jpg" alt="human-male-druid">
                <img src="../static/img/minis/human-male-paladin (4).jpg" alt="human-male-paladin">
                <img src="../static/img/minis/human-male-paladin.jpg" alt="human-male-paladin">
                <img src="../static/img/minis/imp.jpg" alt="imp">
                <img src="../static/img/minis/lich.jpg" alt="lich">
                <img src="../static/img/minis/mimic-chests.jpg" alt="mimic-chests">
                <img src="../static/img/minis/naga-warrior.jpg" alt="naga-warrior">
                <img src="../static/img/minis/ogre-cook.jpg" alt="ogre-cook">
                <img src="../static/img/minis/owlbear.jpg" alt="owlbear">
                <img src="../static/img/minis/pirate.jpg" alt="pirate">
                <img src="../static/img/minis/river-troll.jpg" alt="river-troll">
                <img src="../static/img/minis/rust-monster.jpg" alt="rust-monster">
                <img src="../static/img/minis/satyr-male-bard.jpg" alt="satyr-male-bard">
                <img src="../static/img/minis/sea-devil.jpg" alt="sea-devil">
                <img src="../static/img/minis/stranger-dog.jpg" alt="stranger-dog">
                <img src="../static/img/minis/tigerfolk-male-monk.jpg" alt="tigerfolk-male-monk">
                <img src="../static/img/minis/water-elemental.jpg" alt="water-elemental">

            </div>
        </section>
    </main>

    <!-- Pie de página  -->
    <footer>
        
    </footer>
</body>
</html>