<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/dice.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Miniaturas</title>
</head>
<body>

    <!-- Encabezado -->
    <header>
        <div class="en-linea">
            <img id="logo" src="../static/img/d20_dice_big.png" alt="">
        </div>  
        <nav class="en-linea">
            <a class="hiperv" href="../index.html">Inicio</a>
            <a class="hiperv" href="miniaturas.html">Miniaturas</a>
            <a class="hiperv" href="dados.html">Dados</a>
            <a class="hiperv" href="como_comprar.html">Como comprar</a>
            <a class="hiperv" href="contacto.html">Contacto</a>
        </nav>
    </header>  

    <!-- Contenido principal -->
    <main>
        <h1> Aqui irá la galería de miniaturas </h1>
    </main>

    <!-- Pie de página  -->
    <footer>
        
    </footer>
</body>
</html>