<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <nav>
            <a href="../index.html">Inicio</a>              
            <a href="pagina.html">Pagina</a>    
            <a href="galeria.html">Galeria</a>       
            <a href="https://www.google.com/" target="_blank">Google</a>
            <!--<a href="#texto">Ir a texto</a>-->
        </nav> 
    </header>  

    <!-- Contenido principal -->
    <main>
        <h1> Tabla </h1>
    </main>

    <!-- Pie de página  -->
    <footer>
        
    </footer>
</body>
</html>